#content,
html,
body {
  height: 100%;
}
#left {
  float: left;
  width: 20%;
  background: rgb(255, 255, 255);
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 0.5em;
}
#right {
  float: left;
  width: 80%;
  background: rgb(255, 255, 255);
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 0.5em;
}
#pageTitle {
  text-align: center;
  text-rendering: geometricPrecision;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 300%;
}
#contact {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
}
