#content,
html,
body {
  height: 98%;
}
#left {
  float: left;
  width: 20%;
  background: rgb(167, 167, 167);
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 0.5em;
}
#right {
  float: left;
  width: 80%;
  background: rgb(201, 201, 201);
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 0.5em;
}
#categories {
  background-color: rgb(59, 59, 59);
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 20%;
  width: 100%;
  font-size: 200%;
}
